.form-head {
    font-size: 17px;
    line-height: 25.5px;
    color: #207ac7;
    font-weight: 600;
}

.signatureCanvas {
    border: 1px solid black;
    width: 100%;
    min-height: 500px;
}

.form-inner-head {
    font-size: 18px;
    line-height: 30.5px;
    color: #207ac7;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 0.2px;
}

.form-border {
    border: 15px solid #207ac7;
}

.form-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #d9534f;
    font-weight: 600;
    text-transform: uppercase;

}

.form-input-border {
    border: 2px solid #207ac7;
    border-left-width: 1px;
    padding: 12px;
    font-size: 17px;
}

.form-input-border-date {
    border: 2px solid #207ac7;
    border-left-width: 1px;
    padding: 11px;
    font-size: 17px;
}

.form-input-name {
    font-size: 17px;
    line-height: 25.5px;
    font-weight: 700;
    margin-right: 10px;
    letter-spacing: 1px;
    word-spacing: 0.2px;
}

.form-footer {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    color: #207ac7;
    word-spacing: 0.2px;
    line-height: 13.6px !important;
    font-family: 'Roboto', sans-serif;
    padding: 25px 10px;
    border-color: #777777;
    box-shadow: 0px -2px 3px -1px #aaaaaa;

}