.super-admin-nav {
    transition: 0.1s ease-in;
    color: #EFF7F8;
}

.super-admin-nav:hover {
    border-bottom: 1px solid white;
    color: white;
    transition: 0.5s;
}

.table-striped-rows tr:nth-child(2n) td {
    background-color: #fbfbfb !important;
}

.table-striped-rows thead {
    background-color: #f1f1f1 !important;
}