* {
  margin: 0;
  padding: 0;
  text-decoration: none;

}

/* .Side_container {
  display: flex;
} */

main {
  width: 100%;
  padding: 20px;

}


.sidebar {
  /* background-color: #09A2B3; */
  color: #fff;
  height: 100vh;
  transition: all 0.5s;
  /* width: 230px; */
}

.top-section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 30px;
}

.link {
  /* display: flex; */
  color: #fff;
  padding: 10px 16px;
  gap: 15px;
  transition: all 0.5s;
  /* justify-items: center; */
  align-items: center;
  text-decoration: none;
}

.link_text {
  font-weight: 500;
}

/* .icon {
  font-size: 25px;
  padding: 2px;
} */

.link:hover {
  background: #02818F;
  color: #fff;
  transition: all 0.5s;
}

.active {
  background: #fff;
  color: #02818F;
}