/* @import 'antd/dist/antd.css'; */
@import "./customAntd.css";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: inherit !important;


}

main {
  width: 100%;
  padding: 20px;

}

.sidebar {
  color: #fff;
  height: 100vh;
  transition: all 0.5s;
  box-shadow: 6px -4px 5px -4px rgba(39, 50, 51, 0.87);
  -webkit-box-shadow: 6px -4px 5px -4px rgba(39, 50, 51, 0.87);
  -moz-box-shadow: 6px -4px 5px -4px rgba(39, 50, 51, 0.87);
}

.top-section {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  /* font-size: 30px; */
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 30px;
}

.link {
  /* display: flex; */
  color: #fff;
  padding: 10px 16px;
  gap: 15px;
  transition: all 0.5s;
  /* justify-items: center; */
  align-items: center;
  text-decoration: none;
}

.link_text {
  font-weight: 500;
}

/* .icon {
  font-size: 25px;
  padding: 2px;
} */

.link:hover {
  background: #02818F;
  color: #fff;
  transition: all 0.5s;
  /* margin: 5px;
  border-radius: 10px; */

}

.active {
  background: #fff !important;
  color: #02818F !important;
}

input[type='checkbox'] {
  accent-color: teal;
}