:root {
  --blue: #1E88E5;
  --yellow: #FBC02D;
  --green: #4CAF50;
}

override day number color and size
.fc-day-number {
  font-size: 1.5em;
  color: #5c005c;
}

/* override day title color and size */
.fc-day-header {
  font-size: 1.5em;
  color: #00b294;
}

/* Header Button */
.fc .fc-button-group button,
.fc .fc-button-group .fc-button-active,
.fc .fc-button-primary {
    border-color: #fff !important;
    text-transform: capitalize !important;
}

.fc .fc-button-primary:disabled {
  border-color: #fff !important;
  text-transform: capitalize;
}

.fc-next-button, .fc-prev-button, .fc-timeGridWeek-button {
  background: var(--green) !important;
}

.fc-prevYear-button, .fc-nextYear-button, .fc-dayGridMonth-button {
  background: var(--blue) !important;
}

.fc-today-button {
  background: #0AA6B7 !important;
}

.fc-timeGridDay-button {
  background: var(--yellow) !important;
}

.fc-toolbar-title{
  color: #495057;
}

.fc .fc-col-header-cell-cushion{
  color: #74788D;
}

